.search {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search input { 
    width: 70vw;
    height: 7vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 20px;
    border: 5px solid gold;
    z-index:0;
    padding: 15px;
    font-family: "Nunito", sans-serif;
    color: #000;
}

.searchInputs{
    display: flex;
    align-items: center;
    
}

.searchIcon{
    height: 5vh;
    width: 10vw;
    background-color: none;
    color: gold;
    display: grid;
    place-items: center;
    border-radius: 5px;
    position: absolute;
    left: 75vw;
    z-index: 2;
}
.searchIcon svg {
    font-size: 36px;
}

.dataResult {
    font-family: "Nunito", sans-serif;
    border: 1px white solid;
    width: 75vw;
    height: 70vh;
}